In [1]:
import pandas as pd

In [2]:
FILENAME = "train_series.csv"
# FILENAME = "test_series.csv"
# Demonstration of the baseline on train series. 
#Once the test set will be available, you just have to rename FILENAME to correspond to the test returns csv file.

In [3]:
returns = pd.read_csv(FILENAME, index_col=0)

In [4]:
returns.head()

,Index Name,Index - 9,Index - 8,Index - 7,Index - 6,Index - 5,Index - 4,Index - 3,Index - 2,Index - 1,Index - 0,index ecb,index fed,Index + 1
0,V2X Index,0.001045,0.005841,0.003832,-0.027519,-0.103565,-0.045086,-0.011265,0.005164,0.054050,0.015779,"1126,1471",96,0.010597
1,MOVE Index,-0.021497,0.007891,-0.013175,-0.008436,0.000000,0.026303,0.000556,0.001455,0.007422,0.000000,975,568,0.014492
2,SPX Index,-0.001872,-0.008154,0.023588,0.004086,0.003493,0.003300,0.000885,-0.011304,0.005040,0.000156,"78,806","328,695",0.016263
3,SPX Index,0.004980,-0.000864,0.001677,0.000000,0.006030,-0.001083,0.000419,0.001492,0.001018,-0.002582,"560,1405",118,0.013581
4,EURUSD Curncy,0.000360,-0.001893,0.005579,-0.003056,-0.001171,-0.001623,-0.002350,-0.006444,-0.000729,-0.000365,404,261,0.005092

In [9]:
returns["index fed"].apply(lambda x : len(x.split(','))).value_counts()

1    7893
2     972
3      54
4      27
Name: index fed, dtype: int64

In [10]:
returns["Index Name"].value_counts()

V2X Index           994
MOVE Index          994
SPX Index           994
EURUSD Curncy       994
EURUSDV1M Curncy    994
CVIX Index          994
VIX Index           994
SX5E Index          994
SRVIX Index         994
Name: Index Name, dtype: int64

In [5]:
returns.drop("Index Name", axis=1, inplace=True)
returns.drop("index ecb", axis=1, inplace=True)
returns.drop("index fed", axis=1, inplace=True)
returns.drop("Index + 1", axis=1, inplace=True)

In [7]:
returns.head()

,Index - 9,Index - 8,Index - 7,Index - 6,Index - 5,Index - 4,Index - 3,Index - 2,Index - 1,Index - 0
0,0.001045,0.005841,0.003832,-0.027519,-0.103565,-0.045086,-0.011265,0.005164,0.054050,0.015779
1,-0.021497,0.007891,-0.013175,-0.008436,0.000000,0.026303,0.000556,0.001455,0.007422,0.000000
2,-0.001872,-0.008154,0.023588,0.004086,0.003493,0.003300,0.000885,-0.011304,0.005040,0.000156
3,0.004980,-0.000864,0.001677,0.000000,0.006030,-0.001083,0.000419,0.001492,0.001018,-0.002582
4,0.000360,-0.001893,0.005579,-0.003056,-0.001171,-0.001623,-0.002350,-0.006444,-0.000729,-0.000365

In [5]:
res = pd.DataFrame()
prediction = returns.ewm(axis=1, span=9).mean()["Index - 0"]
res["regression"] = prediction
res["classification"] = (prediction > 0).astype(int)

In [6]:
res.to_csv("res_baseline.csv")